* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0A0119;
}

/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #ffffff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.title {
    color: #F9F5FF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;
    text-decoration: none
}

.presentation {
    background: #0A0119;
}

.presentation h2 {
    color: #FAFBFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.presentation h3 {
    display: flex;
    color: #FAFBFF;
    width: 555px;
    height: 58px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.presentation p {
    color: #FAFBFF;
    font-family: Inter;
    font-size: 1px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.presentation img {
    background: url("/img/Memoji.png"), lightgray 50% / cover no-repeat;
}

.presentation button {
    color: #0A0119;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F9F5FF;
}



